#  PERM data analysis using R

---

# Read and Clean the data

In [1]:
getwd()

[1] "/Users/Leo/GitHub/Data-Analysis-Example"

In [2]:
file_list <- list.files(file.path(getwd(), 'data/all_perm'), pattern = "*.csv", full.names = TRUE)
length(file_list)

[1] 177

In [3]:
read_csv_filename <- function(filename){
    ret <- read.csv(filename, header=FALSE, sep=",", na.strings="" )
    ret$Country <- gsub("[+]", " ", strsplit(basename(file.path(filename)), "_", fixed = TRUE)[[1]][1])
    ret
}

original_data <- data.frame(do.call(rbind,lapply(file_list,read_csv_filename)))
colnames(original_data) <- c('id', 'Date', 'Employer', 'City_State', 'Status', 'Job_Title', 'Wage_Offer','Country')
str(original_data)

'data.frame':	740236 obs. of  8 variables:
 $ id        : Factor w/ 734586 levels "A-05312-50869",..: 52 53 51 44 50 49 48 42 45 47 ...
 $ Date      : Factor w/ 2957 levels "2008-02-08","2008-02-13",..: 53 52 51 50 49 48 47 46 45 44 ...
 $ Employer  : Factor w/ 154201 levels "1700 Pharmacy Inc",..: 30 40 9 25 19 19 28 8 1 38 ...
 $ City_State: Factor w/ 16643 levels "Aberdeen, NJ",..: 42 13 5 34 18 17 22 2 27 13 ...
 $ Status    : Factor w/ 5 levels "Certified","Certified-expired",..: 1 3 3 3 3 3 3 3 1 1 ...
 $ Job_Title : Factor w/ 61050 levels "Accountants and Auditors, Level IV",..: 29 26 27 33 5 9 1 28 34 24 ...
 $ Wage_Offer: Factor w/ 101446 levels "100/","1000/BI",..: 13 26 18 9 44 25 6 50 17 44 ...
 $ Country   : chr  "Afghanistan" "Afghanistan" "Afghanistan" "Afghanistan" ...

In [4]:
head(original_data, 3)

  id            Date       Employer
1 A-16309-68487 2017-06-09 Saad S. Khan
2 A-17003-86706 2017-03-20 Town & Country Properties Inc. & Subsidiaries
3 A-16293-63321 2017-01-31 Cogent Medical Care, Pc
  City_State       Status            Job_Title
1 WILMINGTON, DE   Certified         LIVE-IN-DOMESTIC, Level I
2 Falls Church, VA Certified-Expired Insurance Clerk, Level II
3 Binghamton, NY   Certified-Expired Internists, General, Level I
  Wage_Offer      Country
1 17,701.00/Year  Afghanistan
2 31,242.00/Year  Afghanistan
3 226,800.00/Year Afghanistan

In [5]:
# clean the data, column by column

# Drop id
perm_data= subset(original_data, select = -c(id) )

# Parse dates
perm_data$Date <- as.Date(perm_data$Date)
# Sort by date
# perm_data <- perm_data[order(perm_data$Date, decreasing = TRUE, index.return = TRUE),]

In [6]:
# Employer name
library(plyr)

original_counts <- count(perm_data, 'Employer')
original_counts <- original_counts[order(original_counts$freq,decreasing = TRUE),]
head(original_counts, 10)

cat('--------------------------------\n')
cat('Employer names need to clean up.\n')
cat('--------------------------------\n')

head(original_counts[grepl("Apple ", original_counts[["Employer"]]) | 
                     grepl("Apple,", original_counts[["Employer"]]),], 5)

     Employer                                      freq
912  Cognizant Technology Solutions Us Corporation 20506
24   Microsoft Corporation                         18298
450  Intel Corporation                              8893
175  Google Inc.                                    5086
382  Cisco Systems, Inc.                            4742
580  Amazon Corporate Llc                           4085
412  Oracle America, Inc.                           3207
1271 Google, Inc.                                   2602
2911 Apple Inc.                                     2447
3459 Infosys Ltd.                                   2390

--------------------------------
Employer names need to clean up.
--------------------------------

       Employer                           freq
2911   Apple Inc.                         2447
614    Apple, Inc.                        1418
13321  Apple Computer, Inc.                 20
68     Apple Educational Services           10
117229 Red Apple Child Development Center    6

In [7]:
# first will be remove dba (dba, D/b/a , d/b/a)
# "\\b[[:punct:]]*d[[:punct:]]*b[[:punct:]]*a[[:punct:]]*\\b"

# lower case
perm_data$Employer <- sapply(perm_data$Employer, tolower)
# words before "dba"
perm_data$Employer <- sapply(perm_data$Employer, function(x) 
                        strsplit(x, "\\b[[:punct:]]*d[[:punct:]]b[[:punct:]]a[[:punct:]]*\\b")[[1]][1])
# remove special characters
perm_data$Employer <- gsub("[[:punct:]]", "", perm_data$Employer)

# Capitalizes the first letter of each word
perm_data$Employer <- sapply(perm_data$Employer, function(x) {
                                  s <- strsplit(x, " ")[[1]]
                                  paste(toupper(substring(s, 1,1)), substring(s, 2), sep="", collapse=" ")}
                              )     

# need to think about how to handel typo like: 'buisness' -> 'business'
# Or company rename: 'apple computer' -> 'apple'

In [8]:
new_counts <- count(perm_data, 'Employer')
new_counts <- new_counts[order(new_counts$freq, decreasing = TRUE),]
head(new_counts, 10)

      Employer                                      freq
28378 Cognizant Technology Solutions Us Corporation 20506
85153 Microsoft Corporation                         18298
63080 Intel Corporation                              8893
52803 Google Inc                                     7688
7095  Amazon Corporate Llc                           5500
26815 Cisco Systems Inc                              4742
9889  Apple Inc                                      3865
96027 Oracle America Inc                             3207
35000 Deloitte Consulting Llp                        2624
56501 Hcl America Inc                                2418

In [12]:
head(perm_data, 3)

  Date       Employer                                   City_State
1 2017-06-09 Saad S Khan                                WILMINGTON, DE
2 2017-03-20 Town  Country Properties Inc  Subsidiaries Falls Church, VA
3 2017-01-31 Cogent Medical Care Pc                     Binghamton, NY
  Status            Job_Title                    Wage_Offer      Country
1 Certified         LIVE-IN-DOMESTIC, Level I    17,701.00/Year  Afghanistan
2 Certified-Expired Insurance Clerk, Level II    31,242.00/Year  Afghanistan
3 Certified-Expired Internists, General, Level I 226,800.00/Year Afghanistan

In [54]:
# city and state, add area
test <- perm_data[grepl(",{2}", perm_data[["City_State"]]),]
str(test)

'data.frame':	312 obs. of  7 variables:
 $ Date      : Date, format: "2011-02-04" "2010-05-28" ...
 $ Employer  : chr  "Spellmans Marine Inc" "Capital University" "Mark Seth Adler Cpa Inc Dba Adler  Associates" "The University Of Chicago" ...
 $ City_State: Factor w/ 16643 levels "Aberdeen, NJ",..: 608 473 1135 1626 1636 1698 1698 1915 2146 2192 ...
 $ Status    : Factor w/ 5 levels "Certified","Certified-expired",..: 3 1 3 3 2 3 4 2 3 3 ...
 $ Job_Title : Factor w/ 61050 levels "Accountants and Auditors, Level IV",..: 1476 234 56 3072 3146 3244 3244 1168 305 4068 ...
 $ Wage_Offer: Factor w/ 101446 levels "100/","1000/BI",..: 1094 1880 2688 4127 4985 5858 5858 298 388 6805 ...
 $ Country   : chr  "Argentina" "Argentina" "Armenia" "Azerbaijan" ...

In [55]:

# 213 missing City_State
# 26 only have states name (without ",") 
# 739685 have one ","
# 312 have two "," and 4 cases start with "," : , Villa Platte, LA


test

       Date       Employer
2316   2011-02-04 Spellmans Marine Inc
2587   2010-05-28 Capital University
3976   2010-02-18 Mark Seth Adler Cpa Inc Dba Adler  Associates
7869   2013-09-18 The University Of Chicago
8156   2007-10-09 Hcbeck Ltd
9765   2011-02-01 7eleven Franchise
9911   2010-07-02 7eleven Franchise
10259  2009-03-06 Lsu Health Sciences Center
11218  2014-02-03 Epam Systems Inc
12019  2010-02-26 Usfc Inc Dba Us Floor Covering
14593  2016-07-07 Galvao Pavers Inc
14967  2016-03-03 Star Auto Body Llc
17337  2011-07-22 Automated Waste Disposal
28986  2016-02-18 Pyramid Consulting Inc
33941  2014-10-01 Glow Networks Inc
38428  2013-01-29 University Of Iowa
39276  2012-09-21 Sai Raghavendra Pharmacy Pc
39768  2012-08-09 Globalsoft Solutions Inc
41233  2012-03-28 Double T Diner
41460  2012-02-27 Familia Dental Nb Pllc
47139  2010-05-19 Pacific Biosciences Of California Inc
50347  2009-05-04 Map Lodgings Inc
50414  2009-04-30 Upmc Presbyterian Shadyside
50863  2009-04-02 Hawk Ridge Management Llc
51496  2008-12-16 Bank Of America
53124  2008-03-05 Hawk Ridge Management Llc
54301  2007-10-25 Tsystems North America Inc
54466  2007-10-04 Nanoexa Corporation
75681  2015-09-02 University Of Wisconsinstevens Point
100320 2010-03-02 Monmouth University
⋮      ⋮          ⋮
625925 2011-05-24 Parkway Auto Body Of Ewing Inc
626434 2010-07-07 Johns Auto Service Inc
627202 2009-04-15 Loreal Usa Inc
627374 2009-01-14 Ashland Sausage Company
635522 2009-09-23 Ipg Photonics Corporation
651054 2016-05-23 Eminnara A Professional Corporation
668075 2013-03-25 Technicon Design Corporation
670939 2012-05-31 Vision Education Center Inc
673439 2011-06-24 The Korean United Methodist Church Of Staten Island
675970 2010-12-03 Km Suppliesinc
682502 2009-05-15 The University Of Chicago
685530 2008-04-29 The New Vision Community Church Inc
688376 2017-04-07 A  A Maintenance Enterprise Inc
690315 2010-08-20 Seton Hall University
692063 2010-05-19 S  V Enterprises Inc  Subsidiaries
693610 2009-11-18 Mehdi Adili
700152 2012-09-24 Ace Cash Express
701070 2011-08-26 Washington Capital Management Inc
701289 2011-06-03 Oec Shipping Los Angeles Inc
701418 2011-04-22 Oec Shipping Los Angeles Inc
701504 2011-03-04 Oec Shipping Los Angeles Inc
704109 2008-07-30 Garfield Medical Center
704511 2008-02-14 Thomashow Brown  Paialii Llp
704843 2007-10-23 Lotus Orient Corp
713964 2008-08-27 Comet America Inc
723677 2011-10-21 Malama Adult Day Camp
724754 2010-09-28 University Housing Services Inc
725361 2010-05-03 System Seals Inc
727830 2007-12-20 Amesplan Usa Inc Ta Subway
728250 2013-03-22 Esac Inc
       City_State                Status
2316   Hampton Bays,, NY         Certified-Expired
2587   Columbus,, OH             Certified
3976   San Diego,, CA            Certified-Expired
7869   Chicago,, IL              Certified-Expired
8156   Atlanta,, GA              Certified-expired
9765   Alexandria,, VA           Certified-Expired
9911   Alexandria,, VA           Denied
10259  New Orleans,, LA          Certified-expired
11218  San Francisco,, CA        Certified-Expired
12019  Laguna Hills,, CA         Certified-Expired
14593  Cumming,, GA              Denied
14967  MT. VERNON,, NY           Certified-Expired
17337  Danbury,, CT              Denied
28986  Alpharetta,, GA           Certified-Expired
33941  Richardson,, TX           Certified-Expired
38428  Iowa City,, IA            Certified-Expired
39276  Hazel Park,, MI           Certified
39768  Edison,, NJ               Certified
41233  Baltimore,, MD            Denied
41460  New Braunfels,, TX        Certified-Expired
47139  Menlo Park,, CA           Certified
50347  Charlotte,, NC            Certified
50414  Pittsburgh,, PA           Certified
50863  Los Angeles,, CA          Certified-expired
51496  Charlotte,, NC            Denied
53124  Los Angeles,, CA          Denied
54301  Reston,, VA               Certified-expired
54466  Burlingame,, CA           Certified-expired
75681  Stevens Point,, WI        Certified-Expired
100320 West Long Branch,, NJ     Certified-Expired
⋮      ⋮                         ⋮
625925 Trenton,, NJ              Certified
626434 East Rutherford,, NJ      Certified
627202 Clark,, NJ                Certified
627374 Carol Stream,, IL         Certified-expired
635522 Oxford,, MA               Certified
651054 Los Angeles,, CA          Certified-Expired
668075 Santa Monica,, CA         Certified-Expired
670939 Cypress,, CA              Certified
673439 Staten Island,, NY        Denied
675970 Los Angeles,, CA          Certified-Expired
682502 Chicago,, IL              Certified
685530 Fairfax,, VA              Denied
688376 YONKERS,, NY              Certified
690315 South Orange,, NJ         Certified
692063 Washington,, DC           Certified
693610 Mclean,, VA               Certified-Expired
700152 Irving,, TX               Certified-Expired
701070 Seattle,, WA              Certified
701289 Cerritos,, CA             Certified
701418 Cerritos,, CA             Certified-Expired
701504 Cerritos,, CA             Certified-Expired
704109 Monterey Park,, CA        Certified
704511 Los Angeles,, CA          Certified-expired
704843 San Gabriel,, CA          Certified-expired
713964 New York,, NY             Certified
723677 Bowie/upper Marlboro,, MD Denied
724754 St. Petersburg,, FL       Certified
725361 Bedford Hts.,, OH         Denied
727830 Culpeper,, VA             Certified-expired
728250 Rockville,, MD            Certified-Expired
       Job_Title
2316   Motorboat Mechanic, Level I
2587   Mathematical Science Teachers, Postsecondary, Level I
3976   Accountants, Level II
7869   Social Work Teachers, Postsecondary, Level I
8156   Project Leader, LEVEL II
9765   Cashiers, Level I
9911   Cashiers, Level I
10259  Health Specialties Teachers, Postsecondary, Level I
11218  Software Developers, Applications, Level II
12019  Tile And Marble Setters, Level IV
14593  Construction Managers, Level IV
14967  AUTO BODY REPAIRMAN, Level IV
17337  NA
28986  Software Developers, Applications, Level IV
33941  Network and Computer Systems Administrators, Level II
38428  Physics Teachers, Postsecondary, Level II
39276  Pharmacist, Level I
39768  Computer Systems Analysts, Level II
41233  Chefs And Head Cooks, Level III
41460  General Dentist, Level I
47139  Electronics Engineers, Except Computer, Level II
50347  Accountants And Auditors, Level I
50414  Health Diagnosing & Treating Practitioners - All Other, Level I
50863  Financial Manager, Level II
51496  Database Administrator, Level IV
53124  Financial Manager, LEVEL II
54301  Comp. & Info. Sci. Research, LEVEL I
54466  Financial Managers, LEVEL II
75681  Assistant Professor, Level I
100320 Economics Teachers, Postsecondary, Level II
⋮      ⋮
625925 Automotive Body Repairer, Level IV
626434 Painters, Transportation Equipment, Level IV
627202 Industrial Engineers, Level IV
627374 Butcher, Meat And Meat Products, Level II
635522 Electrical Engineers, Level IV
651054 Paralegals and Legal Assistants, Level I
668075 Commercial And Industrial Designer, Level I
670939 Science Chemestry Teacher, Level IV
673439 Choral Director, Level I
675970 Sales Engineers, Level IV
682502 Sociology Teachers, Postsecondary, Level I
685530 Clergy, LEVEL I
688376 HUMAN RESOURCES ASSISTANTS, EXCEPT PAYROLL, Level III
690315 Foreign Language And Literature Teachers, Postsecondary, Level I
692063 Cook, Level I
693610 Medical And Health Services Managers, Level II
700152 Statisticians, Level II
701070 Financial Analysts, Level II
701289 Management Analyst, Level II
701418 Accountants, Level II
701504 Financial Analysts, Level I
704109 Occupational Therapist, LEVEL II
704511 Accountant, Staff, LEVEL III
704843 Accountant, LEVEL II
713964 Broadcast Technician, LEVEL III
723677 Executive Administrative Assistant, Level I
724754 Property, Real Estate, And Community Association Managers, Level II
725361 NA
727830 Food Service Managers, LEVEL III
728250 Database Administrators, Level III
       Wage_Offer      Country
2316   17/hr           Argentina
2587   56010/yr        Argentina
3976   53269/yr        Armenia
7869   73000/          Azerbaijan
8156   60500/YR        Bahamas
9765   7.78/hr         Bangladesh
9911   7.78/hr         Bangladesh
10259  65000/yr        Bangladesh
11218  92789/Year      Belarus
12019  26.47/hr        Belgium
14593  116,300.00/Year Brazil
14967  52,582.00/Year  Brazil
17337  34258/yr        Brazil
28986  111,400.00/Year Canada
33941  65,624.00/Year  Canada
38428  89600/          Canada
39276  87090/yr        Canada
39768  85000/yr        Canada
41233  21.36/hr        Canada
41460  180000/yr       Canada
47139  110000/yr       Canada
50347  40373/yr        Canada
50414  66000/yr        Canada
50863  100000/yr       Canada
51496  103000/yr       Canada
53124  100000/YR       Canada
54301  100776/YR       Canada
54466  102460.8/YR     Canada
75681  104,054.00/Year China
100320 95000/yr        China
⋮      ⋮               ⋮
625925 57242/yr        Poland
626434 20.37/hr        Poland
627202 38.29/hr        Poland
627374 22048/yr        Poland
635522 90043/yr        Russia
651054 55,000.00/Year  South Korea
668075 120000/         South Korea
670939 53497.6/yr      South Korea
673439 27768/yr        South Korea
675970 106080/yr       South Korea
682502 76000/yr        South Korea
685530 23000/YR        South Korea
688376 41,558.00/Year  Spain
690315 53000/yr        Spain
692063 8.36/hr         Sri Lanka
693610 76752/yr        Sweden
700152 61984/yr        Taiwan
701070 66955/yr        Taiwan
701289 68725/yr        Taiwan
701418 57387/yr        Taiwan
701504 52395/yr        Taiwan
704109 31/HR           Taiwan
704511 31.38/HR        Taiwan
704843 23.71/HR        Taiwan
713964 20/HR           Turkey
723677 1500/mth        United Kingdom
724754 47341/yr        United Kingdom
725361 90000/yr        United Kingdom
727830 52000/YR        United Kingdom
728250 87901/          Uruguay

In [10]:
# city and state, add area

# edit delimiter
# count how many without or have more than one ","

# split by ","

# perm_data$City  = sapply(perm_data$City_State, function(x) strsplit(x, ", ")[[1]][1])
# perm_data$State = sapply(perm_data$City_State, function(x) strsplit(x, ", ")[[1]][2])


# think about typo like missing state name, simply wrong text

# using city names list to add area
# The New York Metro area and California Bay Area cities list is from wikipedia

# ny_cities = read_csv('data/NY_cities.csv', names=['city'])
# bay_cities = read_csv('data/Bay_Area_cities.csv', names=['city'])

# perm.loc[(perm.State.isin(['NY', 'NJ', 'CT'])) & 
#          (perm.City.str.upper().isin(ny_cities.city)), 'Area']  = 'New York Metro'
# perm.loc[(perm.State.isin(['CA'])) & 
#          (perm.City.str.upper().isin(bay_cities.city)), 'Area'] = 'California Bay Area'

        Certified Certified-expired Certified-Expired            Denied
           197498             38943            404088             65862
        Withdrawn
            33845

In [41]:
# remove unnecessary characters
perm_data$Employer <- as.character(perm_data$Employer)

perm_data$test2 <- sapply(perm_data$Employer, function(x) unlist(strsplit(x, ","))[1])
perm_data$test2 <- gsub("[[:punct:]]", "", perm_data$test2)
head(perm_data)
                          
                          
# replace_list = [',', '!', '.', ' inc', ' llc', ' llp', ' ltd', ' lp', 
#                 ' corporation', ' corporate', ' corp', ' technologies'] 
# for char in replace_list: 
#     perm.Employer = perm.Employer.str.lower().str.replace(char, '')  

# edit employer name to operating name of a company, as opposed to the legal name of the company (dba)

       Date       Employer                     City_State     Status
525328 2018-01-09 Vi Department Of Education   St. Thomas,    Certified
631305 2018-01-09 Axon Enterprise, Inc.        Seattle, WA    Certified
22892  2018-01-08 David R. Olinger, D.c.       SAN MARCOS, CA Certified
122460 2018-01-08 Teba Pharmacy Inc.           Brooklyn, NY   Certified
146542 2018-01-08 Cybertec Inc                 Reston, VA     Certified
717383 2017-11-17 Cts Technical Services, Inc. Everett, WA    Certified
       Job_Title
525328 Middle School Teachers, Except Special and Career/Technical Educ, Level I
631305 Software Developers, Systems Software, Level IV
22892  CHIROPRACTORS, Level I
122460 Pharmacy Aide, Level IV
146542 Systems Analyst, Level II
717383 Aerospace Engineers, Level IV
       Wage_Offer      Country        test
525328 45,300.00/Year  Jamaica        Vi Department Of Education
631305 144,000.24/Year Russia         Axon Enterprise Inc
22892  39,936.00/Year  Canada         David R Olinger Dc
122460 29,910.00/Year  Egypt          Teba Pharmacy Inc
146542 90,646.00/Year  India          Cybertec Inc
717383 107,120.00/Year United Kingdom Cts Technical Services Inc
       test2                      test3
525328 Vi Department Of Education Education
631305 Axon Enterprise            Inc
22892  David R Olinger            Dc
122460 Teba Pharmacy Inc          Inc
146542 Cybertec Inc               Inc
717383 Cts Technical Services     Inc

In [45]:
test <- perm_data[grepl(",", perm_data[["Employer"]]),]
head(test)

       Date       Employer                       City_State     Status
631305 2018-01-09 Axon Enterprise, Inc.          Seattle, WA    Certified
22892  2018-01-08 David R. Olinger, D.c.         SAN MARCOS, CA Certified
717383 2017-11-17 Cts Technical Services, Inc.   Everett, WA    Certified
8182   2017-09-29 El Charrito Of Homestead, Inc. Homestead, FL  Certified
10741  2017-09-29 Epam Systems, Inc              Bellevue, WA   Certified
11568  2017-09-29 Connectwise, Inc.              Tampa, FL      Certified
       Job_Title                                       Wage_Offer
631305 Software Developers, Systems Software, Level IV 144,000.24/Year
22892  CHIROPRACTORS, Level I                          39,936.00/Year
717383 Aerospace Engineers, Level IV                   107,120.00/Year
8182   Marketing Managers, Level I                     60,778.00/Year
10741  Software Developers, Applications, Level I      98,000.00/Year
11568  Computer Occupations, All Other, Level III      81,806.00/Year
       Country        test                         test2
631305 Russia         Axon Enterprise Inc          Axon Enterprise
22892  Canada         David R Olinger Dc           David R Olinger
717383 United Kingdom Cts Technical Services Inc   Cts Technical Services
8182   Bangladesh     El Charrito Of Homestead Inc El Charrito Of Homestead
10741  Belarus        Epam Systems Inc             Epam Systems
11568  Belgium        Connectwise Inc              Connectwise
       test3
631305  Inc.
22892   D.c.
717383  Inc.
8182    Inc.
10741   Inc
11568   Inc.

In [84]:
test <- perm_data[grepl(",", perm_data[["Employer"]]),]
# lower case
test$test <- sapply(test$Employer, tolower)
# word after ","
test$test <- sapply(test$test, function(x) tail(strsplit(x, ",")[[1]], 1))
# special characters
test$test <- gsub("[[:punct:]]", "", test$test)

In [85]:
last_word_counts <- count(test, 'test')
last_word_counts <- last_word_counts[order(last_word_counts$freq,decreasing = TRUE),]
head(last_word_counts, 100)

# first will be remove dba (dba, D/b/a , d/b/a)
# second will be remove , + the following top 10 key words

     test                                        freq
920   inc                                        273627
3175  llc                                         55792
3640  llp                                          6161
4227 inc                                           4231
3860  pc                                           2874
3651  lp                                           2855
3681  ltd                                          2073
3791  na                                           1293
3838  pa                                            996
4390 llc                                            979
1327  inc dba claxton poultry farms                 788
3      all its subsidiaries  affiliates             782
2993  inc united states                             754
3078  incorporated                                  617
965   inc amd                                       584
263   corp                                          572
3911  pllc                                          570
151   and all of its subsidiaries and affiliates    442
984   inc company                                   428
3647  los angeles                                   228
143   an igate company                              219
642   dba saber government solut                    202
303   davis                                         159
4085  university                                    138
3795  national association                          137
4534 ubs ag                                         130
192   berkeley                                      126
3982  san diego                                     103
4463 pc                                              97
3730  md                                             95
⋮    ⋮                                           ⋮
2248  inc dba rehabcare                          44
3646  long beach                                 44
3917  pomona                                     44
757   dds                                        43
2203  inc dba prolifics                          42
137   an avago technologies company              41
144   an intersil corpora                        39
3413  llc dba mercury insurance group            39
4164 cybermass solutions inc                     39
231   chico                                      38
2312  inc dba servicemaster building care        38
3957  reno                                       37
3983  san francisco                              37
2516  inc dba the korea daily                    36
4138 american megatrends inc                     36
407   dba compuinfo                              35
815   east bay                                   35
1                                                34
159   apc                                        33
3935  ps                                         33
4461 pa                                          33
1077  inc dba americaneaglecom                   32
2717  inc dba zenefits                           32
2772  inc lexisnexis division                    32
3979  sacramento                                 32
4510 soft labs na inc                            32
147   an ohio banking corporation                31
3203  llc dba ajin usa                           31
4445 nam technologies inc                        31
305   dba                                        30

In [90]:
# test <- perm_data[grepl(",", perm_data[["Employer"]]),]
# # lower case
# test$test <- sapply(test$Employer, tolower)
# # word after ","
# test$test <- sapply(test$test, function(x) tail(strsplit(x, ",")[[1]], 1))
# # special characters
# test$test <- gsub("[[:punct:]]", "", test$test)
                    
test2 <- test[grepl("inc dba claxton poultry farms", test[["test"]]),]
head(test2)

      Date       Employer                                          City_State
57318 2017-07-06 Norman W. Fries, Inc. D/b/a Claxton Poultry Farms CLAXTON, GA
57319 2017-07-06 Norman W. Fries, Inc. D/b/a Claxton Poultry Farms CLAXTON, GA
57320 2017-07-06 Norman W. Fries, Inc. D/b/a Claxton Poultry Farms CLAXTON, GA
57448 2017-06-28 Norman W. Fries, Inc. D/b/a Claxton Poultry Farms CLAXTON, GA
57560 2017-06-26 Norman W. Fries, Inc. D/b/a Claxton Poultry Farms CLAXTON, GA
57563 2017-06-26 Norman W. Fries, Inc. D/b/a Claxton Poultry Farms CLAXTON, GA
      Status    Job_Title
57318 Denied    Meat, Poultry and Fish Cutter and Trimmers, Level I
57319 Denied    Meat, Poultry and Fish Cutter and Trimmers, Level I
57320 Denied    Meat, Poultry and Fish Cutter and Trimmers, Level I
57448 Denied    Meat, Poultry and Fish Cutter and Trimmers, Level I
57560 Certified HELPERS - PRODUCTION WORKERS, Level I
57563 Certified HELPERS - PRODUCTION WORKERS, Level I
      Wage_Offer     Country test                           test2
57318 17,014.00/Year China    inc dba claxton poultry farms Norman W Fries
57319 17,014.00/Year China    inc dba claxton poultry farms Norman W Fries
57320 17,014.00/Year China    inc dba claxton poultry farms Norman W Fries
57448 17,014.00/Year China    inc dba claxton poultry farms Norman W Fries
57560 17,347.00/Year China    inc dba claxton poultry farms Norman W Fries
57563 17,347.00/Year China    inc dba claxton poultry farms Norman W Fries
      test3
57318  Inc. D/b/a Claxton Poultry Farms
57319  Inc. D/b/a Claxton Poultry Farms
57320  Inc. D/b/a Claxton Poultry Farms
57448  Inc. D/b/a Claxton Poultry Farms
57560  Inc. D/b/a Claxton Poultry Farms
57563  Inc. D/b/a Claxton Poultry Farms

In [65]:
a = c('axon enterprise, inc.', 'david r. olinger, d.c.', 'cts technical services, inc.')
s = tail(strsplit(a, ",")[[1]], 1)
s

[1] " inc."

In [119]:
# test <- perm_data[grepl("\bdba, D/b/a , d/b/a", perm_data[["Employer"]]),]
test <- perm_data
test$test <- sapply(test$Employer, tolower)
# test$test <- gsub("[[:punct:]]", "", test$test)
head(test)

       Date       Employer                     City_State     Status
525328 2018-01-09 Vi Department Of Education   St. Thomas,    Certified
631305 2018-01-09 Axon Enterprise, Inc.        Seattle, WA    Certified
22892  2018-01-08 David R. Olinger, D.c.       SAN MARCOS, CA Certified
122460 2018-01-08 Teba Pharmacy Inc.           Brooklyn, NY   Certified
146542 2018-01-08 Cybertec Inc                 Reston, VA     Certified
717383 2017-11-17 Cts Technical Services, Inc. Everett, WA    Certified
       Job_Title
525328 Middle School Teachers, Except Special and Career/Technical Educ, Level I
631305 Software Developers, Systems Software, Level IV
22892  CHIROPRACTORS, Level I
122460 Pharmacy Aide, Level IV
146542 Systems Analyst, Level II
717383 Aerospace Engineers, Level IV
       Wage_Offer      Country        test
525328 45,300.00/Year  Jamaica        vi department of education
631305 144,000.24/Year Russia         axon enterprise, inc.
22892  39,936.00/Year  Canada         david r. olinger, d.c.
122460 29,910.00/Year  Egypt          teba pharmacy inc.
146542 90,646.00/Year  India          cybertec inc
717383 107,120.00/Year United Kingdom cts technical services, inc.
       test2                      test3
525328 Vi Department Of Education Vi Department Of Education
631305 Axon Enterprise             Inc.
22892  David R Olinger             D.c.
122460 Teba Pharmacy Inc          Teba Pharmacy Inc.
146542 Cybertec Inc               Cybertec Inc
717383 Cts Technical Services      Inc.

In [160]:
# " dba ", "(dba)", " d/b/a ", ",dba", "dba,", "/dba/", " dba/", "/dba", "db/a", "d/ba", "d-b-a", ";dba", "dba;", "dba:", "dba-", "-dba" ("d/b/a==d.b.a")
# norman w. fries, inc. d/b/a claxton poultry farms
test2 <- test[grepl("\\b[[:punct:]]*d[[:punct:]]*b[[:punct:]]*a[[:punct:]]*\\b", test[["test"]]),]

last_word_counts <- count(test2, 'test')
last_word_counts <- last_word_counts[order(last_word_counts$freq,decreasing = TRUE),]
head(last_word_counts, 100)

     test                                                             freq
4783 norman w. fries, inc. d/b/a claxton poultry farms                788
799  baha industries corp. dba open systems technologies              283
3264 jcg foods of georgia llc d/b/a koch foods                        248
5739 saber software, inc., d/b/a saber government solut               202
4972 pacesetter inc. dba st. jude medical crmd                        122
3037 indu llc d/b/a intigrow                                          101
1581 cw professional services dba lochbridge                          100
1218 cellco partnership d/b/a verizon wireless                         94
3909 lex nimble solutions inc dba ilbsg,inc                            73
7439 zylog systems limited dba zsl, inc.                               73
309  adventist health system/sunbelt inc d/b/a florida                 66
7438 zylog systems limited dba zsl inc.                                64
83   3b enterprises dba home instead senior care                       60
3070 international technologies pro llc dba iq techpros                59
347  aim big inc.d/b/a axiom technology group                          54
2678 gwinnett intl farmers market dba nam dae mun                      54
2144 exzac inc dba matrix-exzac                                        52
2800 healthview inc. dba pine villa                                    52
6459 swarn inc, d/b/a tech observer                                    52
4290 medical management international, inc. (dba banfield, the pet ho  49
2086 espryt, inc. d/b/a vertigon consulting                            46
295  adroix corp (dba) codeforce 360                                   44
3486 jyacc, inc. d/b/a prolifics                                       42
6280 st. juste management corp dba goliad foods inc.                   42
4601 nanda infotech services dba edp                                   40
5417 radiant soft sol, inc. dba radiant global, inc.                   40
4325 mercury insurance services, llc (d/b/a mercury insurance group)   39
1804 dmkd, inc. dba servicemaster building care                        38
4787 nortech north america inc dba ngs infonet inc                     36
1447 community rehab services inc dba integra rehab                    35
⋮    ⋮                                                                ⋮
4643 nb ventures dba global eprocure                                  20
6562 team baugh, llc dba home instead senior care                     20
1582 cyclone commerce dba axway, inc.                                 19
1690 dc group, inc., d.b.a. uniquesettings of new york                19
2261 floatec, llc dba floatec solutions, llc.                         19
3045 inguran llc dba sexing technologies                              19
6229 spectrum health primary care partners d/b/a shmg                 19
6647 the cantor seinuk group inc d/b/a wsp cantor seinuk              19
3659 kindred rehabservices, inc. d/b/a rehabcare                      18
6845 triquint semiconductor, inc. (dba qorvo)                         18
1895 e & e co., ltd. dba jla home                                     17
4130 malla systems inc dba efulgent                                   17
5352 quality consulting inc dba qci                                   17
5769 saints, inc. & piedmont dairies, inc. d/b/a alliance dairies     17
6643 the bsst software group inc d/b/a the boston group               17
2799 healthnow new york inc., d/b/a bcbs of wny, inc.                 16
2883 hms business services, inc. d/b/a hms                            16
4795 north platte, nebraska hospital corporation, d/b/a               16
5254 premere rehab llc, dba infinity rehab                            16
5504 red dba red digital cinema company                               16
5776 saks direct llc dba hbc digital                                  16
6936 united staffing registry dba united home care                    16
1439 com. on med. care dba partnership healthplan of ca               15
3086 is3c, inc. dba: select source international                      15
3280 jefferson hospital association, inc. d/b/a jefferson regional me 15
5754 sahasra technologies corp. dba stlogics                          15
6501 t3 engineered products/dba triangle industrial                   15
266  ace homecare llc dba ace homecare                                14
1211 cdc services, inc. d/b/a horizon companies                       14
1903 e*pro technologies, llc., dba sensiple                           14

# notes

In [18]:
sapply(lapply(original_data,unique), length)

        id       Date   Employer City_State     Status  Job_Title Wage_Offer
    734587       2957     154202      16644          5      61051     101446
   Country
       177